[project]
	description = POC for DevOps
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dharshanprasad
[access "refs/for/refs/*"]
	read = group user/dharshanprasad
	push = group user/dharshanprasad
	label-Code-Review = -2..+2 group user/dharshanprasad
	label-Verified = -1..+1 group user/dharshanprasad
	rebase = group user/dharshanprasad
	removeReviewer = group user/dharshanprasad
	submit = group user/dharshanprasad
[access "refs/heads/*"]
	read = group user/dharshanprasad
	create = group user/dharshanprasad
	push = +force group user/dharshanprasad
	pushMerge = group user/dharshanprasad
[access "refs/tags/*"]
	push = group user/dharshanprasad
	push = +force group user/dharshanprasad
